* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, black, rgb(0, 77, 73));
    color: white;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.left-column .photo-container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
}

.left-column img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
}

.middle-column,
.right-column {
    background-color: rgba(255, 255, 255, 0.05); /* Menos opacidad */
    padding: 20px;
    border-radius: 10px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    color: lightgray;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray; /* Líneas delgadas */
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    color: #ffffff; /* Azul fino para las viñetas */
}

/* Tabla para la experiencia laboral */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid white; /* Líneas delgadas */
}

th {
    color: #ffffff;
}

/* Bordes para las tablas eliminados, ahora solo líneas */
